code_files/
color_images.pdf
henris_coding/chapter_08/1st_flask_app_1
henris_coding/chapter_08/1st_flask_app_2
henris_coding/chapter_08/aclImdb
henris_coding/chapter_08/movieclassifier
henris_coding/chapter_08/movie
henris_coding/chapter_08/movie_data.csv
henris_coding/chapter_12/mnist*
henris_coding/chapter_12/t10k*
henris_coding/chapter_12/train-images*
henris_coding/chapter_13/mnist
henris_coding/chapter_14/checkpoint
henris_coding/chapter_14/trained-model*
henris_coding/chapter_14/logs
henris_coding/chapter_15/logs
henris_coding/chapter_15/model
henris_coding/chapter_15/t10k*
henris_coding/chapter_15/train-*
henris_coding/chapter_15/tflayers-model
henris_coding/chapter_16/model*
henris_coding/chapter_16/movie_data.csv
henris_coding/chapter_08_latest/aclImdb
henris_coding/chapter_08_latest/movie_data.csv
